<a href="https://colab.research.google.com/github/yagipong/classifcation-predictions/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Dataset #1

In [2]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/MyDrive/CD_DS/2_Machine_Learning/Week_3/Assignments/Core/adult.csv'
df = pd.read_csv(path)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

1. Source of data

The data comes from Kaggle.com

https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

2. Brief description of data

This dataset charts income levels of people in the United States along with many other attributes such as age, race, and education level.

3. What is the target?

The target is a classification: whether a person has an income below $50,000 USD or equal to or above $50,000 USD.

4. What does one row represent? (A person?  A business?  An event? A product?)

One row represents one person.

5. Is this a classification or regression problem?

This is a classification problem.

6. How many features does the data have?

There are 14 features in the dataset

7. How many rows are in the dataset?

There are 48,842 rows in the dataset.

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

The primary challenge I foresee would be the need to convert income (the target column) from strings to numeric values. I may also have to replace the '?' that the dataset currently has for missing data with either the median or mode of that column (depending on if the data is continuous or categorical).

##Dataset #2

In [ ]:
path = '/content/drive/MyDrive/CD_DS/2_Machine_Learning/Week_3/Assignments/Core/adult.csv'
df = pd.read_csv(path)
df.head()

1. Source of data

The data comes from Kaggle.com 

https://www.kaggle.com/datasets/sagnik1511/car-insurance-data

2. Brief description of data

The dataset tracks whether or not a policyholder exercised their car insurance policy in a specific year. The dataset is comprised of a series of policyholder attributes and whether or not they exercised their claim.

3. What is the target?

The target is a classification - whether or not a policyholder exercised their insurance policy.

4. What does one row represent? (A person?  A business?  An event? A product?)

One row represents one policyholder.

5. Is this a classification or regression problem?

This is a classification problem.

6. How many features does the data have?

The data has 18 features.

7. How many rows are in the dataset?

The dataset has 10,000 rows.

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

Some of the columns are missing data, so those will have to be filled in. Also the data in the 'age' and 'driving experience' columns are ranges rather than single numbers, so those ranges will have to be replaced wit numeric values.